/* Reset basic styling */
body, h1, label, input, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    color: #0056b3;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #004494;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #0056b3;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

h1{
    text-align: center;

}/* Gaya untuk tombol logout */
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #ffffff;
}
